body {    
        display: flex;  
        flex-direction: column;    
        background-color:rgba(19, 92, 12, 0.349); 
        max-width: 960px;      
        margin:auto;
        padding:0; 
        font-size: 16px;     
}

      

header h1 {
        font-family:Arial;
        text-align:center;
}

header p {
        text-align:center;
}

#tribute-info {
        background-color: rgba(224, 245, 216, 0.411);
        padding:20px;
        
}

#image {
        max-width:100%;
        height:auto;
        border: 5px;
        border-style: groove;       
}

.footer-box { 
        display:flex;
        background-color:rgba(32, 24, 39, 0.171);
        position: relative;
        color:white;
        max-width: 960px;
        margin: 0;
}
.footer-box a {
        max-width:800px; 
        margin: auto;
        color: springgreen;
        text-decoration: none;        
        max-width:800px; 
        margin: auto;
}
.link {
        font-weight: bold;
        font-size: larger;
}
